body{
    width:100%;
    height:auto;
    background-color:black;
    color:white;
    border:0;
    
    font-family: Pretendard,sans-serif;
    
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 13pt;
    }
    .main-container{
        padding:100px 0 20px;
    }

    .menu-item-container{
        height:300px;
        font-size:10pt;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 20pt;
    }
    .main-container{
        /* padding:100px; */
    }
    .menu-item-container{
        height:500px;
    }
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 18pt;
    }
    .main-container{
        /* padding:100px; */
    }
    .menu-item-container{
        height:500px;
    }
}

  

.warning_com{
    display:none;
}


.loading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    z-index:99;
    background-color:black;
    font-size:30px;
    position:fixed;
    top:0;
}


.main-background{
    background-color:black;
    width:100%;
    

    position:fixed;
    top:0;
    left:0;
    height:100vh;
    z-index:0;
    
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    will-change: background-image;
}

.background-image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index:0;
}

.maincha{
    opacity:0;
    position:absolute;
    text-align: center;
    line-height:30px;
}

.menu-item-container{
    position:fixed;
    z-index: 4;
    width:auto;
    top:10vh;
    left:20px;
    
    
    /* background-color:green; */
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-start;
}

.menu-item{
    margin:10px 10px 10px 0;
}

.menu-border{
    width:50%;
    height:1px;
    background-color:gray;
}



.main-container{
    width:100%;
    /* height:2000px; */
    background-color:black;
    
    position:absolute;
    top:8400px;
    height:200vh;
    z-index: 2;
    
}

.feed{
    padding:0 10%;
    font-size:10pt;
    font-weight: 500;
    text-align: end;
    border:1px solid gray;
    line-height:50px;
    
    height:1400px;
}

#Feed1{
    height:1600px;
    line-height: 200px;
}

#Feed1 .feed-poster{
    margin-top:300px;
}

#Feed2{
    height:700px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(29, 29, 29) 100%);
}

#Feed3{
    height:700px;
    background-color:rgb(29, 29, 29);
}

#Feed4{
    background: linear-gradient(180deg, rgb(29, 29, 29) 0%, rgb(29, 29, 29) 50%, rgba(0,0,0,1) 100%);
    font-weight: 600;
}

.feed4-text-Leader{
    font-weight:300;
    color:rgb(184, 184, 184);
    padding-top:50px;
}

.feed-poster{
    width:80%;
    height:auto;
}

footer{
    position:relative;
}